---
// Highlights Section
// ------------
// Description: A section with a multiple text and image rows.

// Components
// - UI
import TextImage from '../basic/TextImage.astro'
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'

// Content
import lechenierastenii from '../../../assets/highlights/lechenie_rastenii.webp'
import lechenierasteniimobile from '../../../assets/highlights/lechenie_rastenii_mobile.webp'
import propolkasornyakov from '../../../assets/highlights/propolka-sornyakov.webp'
import propolkasornyakovmobile from '../../../assets/highlights/propolka-sornyakov-mobile.webp'
import uhodzagazonom from '../../../assets/highlights/uhod-za-gazonom.webp'
import uhodzagazonommobile from '../../../assets/highlights/uhod-za-gazonom-mobile.webp'
import zhivayaizgorod from '../../../assets/highlights/zhivaya-izgorod.webp'
import zhivayaizgorodmobile from '../../../assets/highlights/zhivaya-izgorod-mobile.webp'
import type { ZodString } from 'astro/zod'

type HighlightBlock = {
	title: string
	text: string
	image: any
	mobileImage?: any
	imageWidth: number
	imageHeight: number
	imagePosition: 'left' | 'right'
}

type HightHead = {
	title: string
	description: string
}

const HightHead = {
	title: '<strong>Услуги</strong> по уходу за садом',
	description: 'Мы проводим комплексные работы по уходу за садом.'
}

const highlightBlocks: HighlightBlock[] = [
	{
		title: 'Лечение <strong>деревьев</strong> и других растений',
		text: 'Gain complete visibility into your projects and tasks with our comprehensive dashboard. Easily track progress, deadlines, and team performance at a glance. Our dashboard offers real-time project tracking',
		image: lechenierastenii,
		imageWidth: lechenierastenii.width,
		imageHeight: lechenierastenii.height,
		mobileImage: lechenierasteniimobile,
		imagePosition: 'right'
	},
	{
		title: '<strong>Прополка</strong> сорняков',
		text: 'Удаление сорняков между плиткой, прополка газона, клумб и грядок. Избавим ваш сад от мертвых, больных и сорных растени.',
		image: propolkasornyakov,
		mobileImage: propolkasornyakovmobile,
		imageWidth: propolkasornyakov.width,
		imageHeight: propolkasornyakov.height,
		imagePosition: 'left'
	},
	{
		title: 'Уход за <strong>газоном</strong>',
		text: 'Enhance team communication and collaboration with our seamless tools. Keep everyone on the same page and ensure efficient project execution through real-time messaging, shared document editing, and task comments. ',
		image: uhodzagazonom,
		mobileImage: uhodzagazonommobile,
		imageWidth: uhodzagazonom.width,
		imageHeight: uhodzagazonom.height,
		imagePosition: 'right'
	},
	{
		title: 'Посадка, подкормка и уход за <strong>живой изгородью</strong>',
		text: 'Protect your data with our robust security features. We prioritize your privacy and security to ensure that your information is always safe. With end-to-end encryption, role-based access control, and regular security audits.',
		image: zhivayaizgorod,
		mobileImage: zhivayaizgorodmobile,
		imageWidth: zhivayaizgorod.width,
		imageHeight: zhivayaizgorod.height,
		imagePosition: 'left'
	}
]
---

<Section>
	<Row>
		<Col span="12" align="center" classes="mb-12 max-w-4xl mx-auto">
			<h2 class="text-pretty" set:html={HightHead.title} />
			<p class="pb-0 text-lg" set:html={HightHead.description} />
		</Col>
	</Row>
	{
		highlightBlocks.map((highlight, key) => (
			<TextImage
				id={`highlight-${key}`}
				title={highlight.title}
				text={highlight.text}
				image={highlight.image}
				imageWidth={highlight.imageWidth}
				imageHeight={highlight.imageHeight}
				mobileImage={highlight.mobileImage}
				imagePosition={highlight.imagePosition}
				classes={key === 0 ? '!pb-0' : key === highlightBlocks.length - 1 ? '!pt-0' : '!py-0'}
			/>
		))
	}
</Section>
