---
import TestimonialCard from './TestimonialCard.astro'
import Row from '../ui/Row.astro'
import Col from '../ui/Col.astro'

import user1 from '../../../assets/avatars/avatar-01.webp'
import user2 from '../../../assets/avatars/avatar-02.webp'
import user3 from '../../../assets/avatars/avatar-03.webp'
const testimonial_list = [
	{
		author: 'David Cameron0',
		avatar: '../../../assets/avatars/avatar-01.webp',
		rating: 'four',
		content:
			'Профессионалы своего дела! <br/> Сделали омолаживающую подрезку<br/> двум старым яблоням на отлично.<br/> Дали полезные рекомендации по<br/> уходу за плодовыми деревьями.'
	},
	{
		author: 'Антонина Петровна',
		avatar: '../../../assets/avatars/avatar-02.webp',
		rating: '5',
		content:
			'Замечательно поухаживали за моими яблонями - обрезали, счистили мох и старую кору, все срезы замазали варом, нанесли побелку, дали много рекомендаций. Опасалась, что такая кардинальная подрезка может повредить, но яблони летом замечательно зазеленели, дали много веточек, что раньше не делали. Я была очень рада. Этой весной опять попросила откорректировать новый прирост и опять все чётко сделали как договаривались, бонусом омолодили сливу.'
	},
	{
		author: 'Михаил Петров',
		avatar: '../../../assets/avatars/avatar-03.webp',
		rating: 'three',
		content:
			'Однозначно рекомендую. Мастер сделал стрижку туй, быстро и дешевле чем у конкурентов. Человек полностью разбирается в своей сфере, дал очень много полезных советов. Очень ему благодарны!'
	},
	{
		author: 'Андрей',
		avatar: '../../../assets/avatars/avatar-01	.webp',
		rating: 'five',
		content:
			'Долго искал и выбирал кто сможет реализовать необходимые мне работы по участку. Не один раз переписывался и созванивался, что бы уточнить детали по работам. В результате согласился с работами и ценой. В назначенное время встретились и приступили. Всё было выполнено как обговаривали. Качество работ вполне устроило. В процессе много всего комментировалось и давал рекомендации по дальнейшим работам с участком.'
	}
]
---

<section id="testimonials">
	<Row>
		<Col span="12" align="center" classes="mb-12 max-w-4xl mx-auto">
			<h2 class="mt-32 text-pretty"><strong>Отзывы</strong> наших клиентов</h2>
			<p class="pb-0 text-lg">
				something something something something something something something something
			</p>
		</Col>
	</Row>
	<!-- {testimonial_list.map((testim: any, i: number) => <p class=`${i%2 ? "bg-red-500" : "bg-red-900"}`>{testim.author}</p>)} -->
	<div class="relative flex overflow-x-hidden">
		<div class="animate-marquee whitespace-nowrap py-12">
			{
				testimonial_list.map((testim: any, i: number) => (
					<TestimonialCard author={testim.author} content={testim.content} />
				))
			}
		</div>
		<div class="absolute animate-marquee2 whitespace-nowrap py-12">
			{
				testimonial_list.map((testim: any, i: number) => (
					<TestimonialCard author={testim.author} content={testim.content} />
				))
			}
		</div>
	</div>
</section>
