---
import TestimonialCard from './TestimonialCard.astro'
import Row from '../ui/Row.astro'
import Col from '../ui/Col.astro'

const testimonial_list = [
	{
		author: 'Антонина Петровна',
		avatar: '../../../assets/avatars/avatar-01.webp',
		rating: 'four',
		content:
			'Профессионалы своего дела! <br/> Сделали омолаживающую подрезку<br/> двум старым яблоням на отлично.<br/> Дали полезные рекомендации по<br/> уходу за плодовыми деревьями.'
	},
	{
		author: 'Евгений Александровский',
		avatar: '../../../assets/avatars/avatar-02.webp',
		rating: '5',
		content:
			'Замечательно поухаживали <br/> за моими яблонями - обрезали, <br/> счистили мох и старую кору, <br/> все срезы замазали варом, <br/> нанесли побелку, <br/> дали много рекомендаций. <br/> Опасалась, что такая кардинальная <br/> подрезка может повредить, <br/> но яблони летом замечательно <br/> зазеленели, дали много веточек, <br/> что раньше не делали. <br/> Я была очень рада. <br/>'
	},
	{
		author: 'Михаил Петров',
		avatar: '../../../assets/avatars/avatar-03.webp',
		rating: 'three',
		content:
			'Однозначно рекомендую. <br/> Мастер сделал стрижку туй, <br/> быстро и дешевле чем у <br/> конкурентов. Человек полностью <br/> разбирается в своей сфере, <br/> дал очень много полезных <br/> советов. Очень ему благодарны!'
	},
	{
		author: 'Андрей',
		avatar: '../../../assets/avatars/avatar-01	.webp',
		rating: 'five',
		content:
			'Долго искал и выбирал кто сможет <br/> реализовать необходимые мне <br/> работы по участку. Не один раз <br/> переписывался и созванивался, что бы <br/> уточнить детали по работам. <br/> В результате согласился с <br/> работами и ценой. В назначенное <br/> время встретились и приступили. <br/> Всё было выполнено как <br/> обговаривали. Качество работ <br/> вполне устроило. В процессе <br/> много всего комментировалось и <br/> давал рекомендации по <br/> дальнейшим работам с участком.'
	}
]
---

<section id="testimonials">
	<Row>
		<Col span="12" align="center" classes="mb-12 max-w-4xl mx-auto">
			<h2 class="mt-32 text-pretty"><strong>Отзывы</strong> наших клиентов</h2>
			<p class="pb-0 text-lg">
				something something something something something something something something
			</p>
		</Col>
	</Row>
	<!-- {testimonial_list.map((testim: any, i: number) => <p class=`${i%2 ? "bg-red-500" : "bg-red-900"}`>{testim.author}</p>)} -->
	<div class="relative flex overflow-x-hidden">
		<div class="flex animate-marquee whitespace-nowrap py-12">
			{
				testimonial_list.map((testim: any, i: number) => (
					<TestimonialCard author={testim.author} content={testim.content} />
				))
			}
		</div>
		<div class="absolute flex animate-marquee2 whitespace-nowrap py-12">
			{
				testimonial_list.map((testim: any, i: number) => (
					<TestimonialCard author={testim.author} content={testim.content} />
				))
			}
		</div>
	</div>
</section>
