---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/blocks/hero/PageHero.astro'
import SidebarContent from '../components/blocks/basic/StickySidebar.astro'
import FAQ from '../components/blocks/FAQ/FaqSticky.astro'
import TextImage from '../components/blocks/basic/TextImage.astro'
import CTA from '../components/blocks/CTA/BasicDark.astro'
import FormOption from '../components/ui/forms/form-option/FormOption.jsx'
import Feature from '../components/ui/Feature.astro'

import heroImg from '../assets/highlights/lechenie-plodovyh.png'

import plodovie from '../assets/highlights/lechenie-plodovyh.png'
import hvoinie from '../assets/highlights/hvoinie.png'
import Grut from '../assets/Grut.webp'
// Data
import faqData from '../data/json-files/faqData.json'
import features from '../data/json-files/featuresData.json'
// - FAQ Categories

const faqIntegrations = faqData.filter((faq) => faq.category === 'lechenie-plodovyh')

// Content
import faqImage1 from '../assets/faq/faq-01.png'
import { Image } from 'astro:assets'
// - SEO
const SEO = {
	title: 'Лечение плодовых деревьев: диагностика, болезни, методы — узнайте цены в Москве и МО',
	description:
		'Закажите профессиональное лечение плодовых деревьев! Диагностика, устранение болезней, подбор эффективных препаратов и сезонный уход. Сохраните здоровье сада и увеличьте урожайность.'
}
// - Page Header
const header = {
	title: 'Лечение <strong>плодовых</strong> деревьев',
	text: 'Профессиональное лечение плодовых деревьев: диагностика заболеваний, выбор препаратов и сезонный уход. '
}

const catCards = {
	title: 'Лечение и обработка <strong>стволов деревьев</strong>',
	description: ''
}
---

<Layout title={SEO.title} description={SEO.description}>
	<Hero title={header.title} text={header.text} heroImg={heroImg} />
	<section
		class="mt-42 mx-auto mb-6 max-w-[1200px] bg-neutral-100/80 p-6 2xl:my-24 2xl:bg-white"
		aria-multiselectable="false"
	>
		<div class="md:flex md:flex-row">
			<div class="text-slate-500">
				<div class="relative p-6 pb-0 pr-0">
					<figure class="relative z-10">
						<blockquote class="p-6 leading-relaxed">
							<p class="mb-2 text-sm font-light">
								<i>
									Заболевания плодовых деревьев снижают урожайность и могут привести к гибели
									растений. Мы поможем вам сохранить сад здоровым.
								</i>
							</p>
							<p class="mt-1">
								<span class="font-bold">Закажите бесплатную консультацию</span> и мы поможем защитить
								ваши плодовые деревья от болезней.
							</p>
						</blockquote>
					</figure><svg
						aria-hidden="true"
						class="absolute left-6 top-6 z-0 h-16"
						viewBox="0 0 17 12"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
						><path
							d="M2.79187 3.83333C2.66179 3.83333 2.53696 3.85316 2.41271 3.87125C2.45296 3.73591 2.49437 3.59825 2.56087 3.47458C2.62737 3.29491 2.73121 3.13916 2.83446 2.98225C2.92079 2.8125 3.07304 2.69758 3.18504 2.55233C3.30229 2.41116 3.46212 2.31725 3.58871 2.2C3.71296 2.0775 3.87571 2.01625 4.00521 1.92991C4.14054 1.85233 4.25837 1.76658 4.38437 1.72575L4.69879 1.59625L4.97529 1.48133L4.69237 0.35083L4.34412 0.43483C4.23271 0.46283 4.09679 0.495496 3.94221 0.53458C3.78412 0.563746 3.61554 0.643663 3.42771 0.71658C3.24221 0.799413 3.02754 0.855413 2.82804 0.988413C2.62737 1.11558 2.39579 1.22175 2.19162 1.39208C1.99387 1.56766 1.75529 1.71991 1.57912 1.94333C1.38662 2.15216 1.19646 2.3715 1.04887 2.62116C0.877957 2.85916 0.761873 3.1205 0.639373 3.37891C0.52854 3.63733 0.43929 3.90158 0.366373 4.15825C0.228123 4.67275 0.16629 5.16158 0.142373 5.57983C0.12254 5.99866 0.134207 6.34691 0.158707 6.59891C0.167457 6.71791 0.18379 6.83341 0.195457 6.91333L0.21004 7.01133L0.225207 7.00783C0.328959 7.49248 0.567801 7.93786 0.914102 8.29243C1.2604 8.64701 1.70001 8.89631 2.18208 9.01148C2.66415 9.12665 3.16897 9.10299 3.63815 8.94323C4.10733 8.78348 4.52169 8.49416 4.83331 8.10874C5.14493 7.72333 5.34107 7.25757 5.39903 6.76534C5.457 6.27311 5.37443 5.77452 5.16087 5.32726C4.94731 4.88 4.61149 4.50233 4.19225 4.23796C3.77302 3.97358 3.28751 3.8333 2.79187 3.83333V3.83333ZM9.20854 3.83333C9.07846 3.83333 8.95362 3.85316 8.82937 3.87125C8.86962 3.73591 8.91104 3.59825 8.97754 3.47458C9.04404 3.29491 9.14787 3.13916 9.25112 2.98225C9.33746 2.8125 9.48971 2.69758 9.60171 2.55233C9.71896 2.41116 9.87879 2.31725 10.0054 2.2C10.1296 2.0775 10.2924 2.01625 10.4219 1.92991C10.5572 1.85233 10.675 1.76658 10.801 1.72575L11.1155 1.59625L11.392 1.48133L11.109 0.35083L10.7608 0.43483C10.6494 0.46283 10.5135 0.495496 10.3589 0.53458C10.2008 0.563746 10.0322 0.643663 9.84437 0.71658C9.65946 0.799997 9.44421 0.855413 9.24471 0.988997C9.04404 1.11616 8.81246 1.22233 8.60829 1.39266C8.41054 1.56825 8.17196 1.7205 7.99579 1.94333C7.80329 2.15216 7.61312 2.3715 7.46554 2.62116C7.29462 2.85916 7.17854 3.1205 7.05604 3.37891C6.94521 3.63733 6.85596 3.90158 6.78304 4.15825C6.64479 4.67275 6.58296 5.16158 6.55904 5.57983C6.53921 5.99866 6.55087 6.34691 6.57537 6.59891C6.58412 6.71791 6.60046 6.83341 6.61212 6.91333L6.62671 7.01133L6.64187 7.00783C6.74563 7.49248 6.98447 7.93786 7.33077 8.29243C7.67707 8.64701 8.11668 8.89631 8.59875 9.01148C9.08081 9.12665 9.58563 9.10299 10.0548 8.94323C10.524 8.78348 10.9384 8.49416 11.25 8.10874C11.5616 7.72333 11.7577 7.25757 11.8157 6.76534C11.8737 6.27311 11.7911 5.77452 11.5775 5.32726C11.364 4.88 11.0282 4.50233 10.6089 4.23796C10.1897 3.97358 9.70417 3.8333 9.20854 3.83333V3.83333Z"
							class="fill-emerald-100"></path></svg
					>
				</div>
			</div>
			<div class="group flex">
				<div
					class="animate__animated animate__rubberBand z-10 block rounded-md px-8 py-4 pr-6 md:border-r-8 md:border-[#2FAF83] md:bg-neutral-50 2xl:w-[600px]"
				>
					<FormOption idForm="1" titleForm={SEO.title} client:load />
				</div>
				<Image
					class="hidden -translate-x-16 transition delay-150 duration-700 ease-in-out group-hover:translate-x-0 md:block"
					src={Grut}
					alt="grut"
					height={Grut.width / 2}
					width={Grut.height / 2}
				/>
			</div>
		</div>
	</section>

	<SidebarContent classes="bg-neutral-50 dark:bg-neutral-900">
		<div slot="sidebar">
			<h2 class="lg:text-2xl">Распространенные болезней плодовых и их лечение</h2>
			<p class="mt-6">
				Заболевания делятся на физиологические (не ифекционные) и на инфекционные. Причиной
				последних становятся бактерии, вирусы, грибки. Этому способствуют грызуны и насекомые -
				переносчики инфекции.
			</p>
		</div>
		<div class="basic-text">
			<h3>Парша</h3>
			<p>
				Появляется болезнь на листьях, плодах, а также молодой поросли. Источник инфекции – грибок
				фузикладиум. Обязательно требуется борьба с паршой на плодовых деревьях. Потребуется в
				вегетационный период в профилактических целях проводить опрыскивание биофунгицидными
				средствами. Также рекомендуется осуществлять химическую обработку в весеннее время года
				фунгицидами.
			</p>
			<h3>Монилиоз</h3>
			<p>
				Это плодовая гниль, она сначала появляется в виде небольших пятен бурого оттенка. Данные
				пятна довольно быстро распространяются, охватывая весь плод. Некоторые дачники не знают, как
				лечить монилиоз на плодовых деревьях. Потребуется опрыскивать деревья йодным раствором.
				Кроме этого, можно применять Фитоспорин.
			</p>
			<h3>Цитоспороз</h3>
			<p>
				Это некрозно-раковая грибковая болезнь. Она способна поразить лиственные породы деревьев.
				Грибы рода Cytospora будут воздействовать не только на ветви и побеги, но и на ствол,
				штамбы. Это приводит к отмиранию древесины, коры и камбия.
			</p>
			<h3>Мучнистая роса</h3>
			<p>
				Данное заболевание популярное. Болезнь вызвана грибковым патогеном. Есть одна особенность у
				этой болезни. Это возникновение белой, порошкообразной пыли. Она появляется на поверхности
				листьев, стеблей. Периодически появляется на плодах пораженных деревьев. Для лечения
				заболевания рекомендуется проводить обработку фунгицидами. Выбор препарата зависит от
				погоды, стадии развития дерева и т. д.
			</p>
		</div>
	</SidebarContent>
	<SidebarContent>
		<div slot="sidebar">
			<h2 class="lg:text-2xl">Препараты для лечения и защиты плодовых деревьев</h2>
			<p>Обработку плодовых деревьев осуществляют различными препаратами.</p>
		</div>
		<div class="basic-text">
			<p>
				Перед покупкой средства нужно учитывать особенности сада. Еще нужно учесть подверженность
				растений конкретным заболеваниям. Есть разные препараты для лечения плодовых деревьев. Они
				не вредны для окружающей среды.
			</p>
			<p>Существуют следующие эффективные средства:</p>
			<p>
				1. <b>Абига-Пик.</b> Это фунгицид контактного действия. Он используется для уничтожения грибковых
				заболеваний. Также помогает избавиться от бактериальных.
			</p>
			<p>
				2. <b>Скор.</b> Это системный фунгицид. Он используется для профилактики и лечения.
			</p>
			<p>
				3. <b>Хорус.</b> Это надежный и эффективный препарат. У него уникальный механизм действия.
			</p>
			<p>
				Кроме перечисленных препаратов, есть еще ряд популярных эффективных инсектицидов для
				плодовых деревьев. Например, Спарвиэро, Актара, Лирум, Вертимек.
			</p>
		</div>
	</SidebarContent>

	<TextImage
		title="Сезонные мероприятия по уходу за плодовыми деревьями"
		text='<h3 class="lg:text-2xl">Весенняя обработка плодовых деревьев</h3><p>Потребуется проводить обрезку до начала сокодвижения, очистку ствола от мха и лишайников.</p><h3 class="lg:text-2xl">Осенняя обработка</h3><p>Придется подготавливать плодовые культуры к зиме. Следует удалять ловчие пояса и подпорки, проводить подкормку удобрениями, обрезку, формирование крон. Осеннее лечение плодовых деревьев включает в себя санитарную обрезку, уборку листьев, защиту от грызунов и химическую обработку. </p><h3 class="lg:text-2xl">Зимняя обработка</h3><p>Зимой потребуется пересадить крупномеры, если место было выбрано неправильно. Молодые посадки не выдержат тяжести снежного покрова, его необходимо убирать с веток. Обязательно нужны зимние мероприятия по защите плодовых деревьев. Придется укрыть молодые посадки пленкой или спанбондом, чтобы защитить их от морозов.</p><p>Правильный уход за плодовыми деревьями – это гарантия того, что они смогут пережить холода в зимний период. На следующий год они смогут порадовать огромным количеством урожая.</p>'
		image={faqImage1}
		mobileImage={faqImage1}
		imagePosition="left"
		offsetImage
		classes="bg-neutral-50 dark:bg-neutral-900 lg:!py-32"
	/>
	<SidebarContent>
		<div slot="sidebar">
			<h2 class="lg:text-2xl">Лечение грибковых заболеваний плодовых</h2>
			<p>Существуют следующие методики борьбы с грибковыми инфекциями плодовых деревьев:</p>
		</div>
		<div class="basic-text">
			<ol>
				<li>Обеззараживание почвы.</li>
				<li>Опрыскивание биопрепаратами.</li>
				<li>Обработка химическими средствами.</li>
			</ol>
			<p>
				Лечение грибковых заболеваний плодовых деревьев проводится химикатами. Они помогут
				предотвратить развитие болезней.
			</p>
			<h3>Средство от плесени и грибка плодовых деревьев</h3>
			<p>
				<b>Раёк.</b> Это системное средство от мучнистой росы для плодовых деревьев. Также препарат действует
				сразу же на несколько разновидностей грибковых заболеваний. Проводить обработку придется 4 раза.
				Препарат продается в виде эмульсии, ее придется разводить в воде в соотношении 1.5-2 мл на десять
				литров.
			</p>
			<p>
				<b>Бордоская жидкость.</b> Обрабатывать деревья придется в фазе «зеленого конуса». Потребуется
				развести 250 мл препарата на 10 литров воды. Кроме этого, рекомендуется 3 опрыскивания в вегетационный
				период. В среднем на 1 дерево уйдет от двух до пяти литров раствора.
			</p>
		</div>
	</SidebarContent>
	<SidebarContent classes="bg-neutral-50 dark:bg-neutral-900">
		<div slot="sidebar">
			<h2 class="lg:text-2xl">Профилактика болезней плодовых деревьев</h2>
			<p class="mt-6">
				Некоторые садовники не знают, как спасти плодовые деревья от болезней. Вот ряд действенных
				профилактических мер:
			</p>
		</div>
		<div class="basic-text">
			<ol>
				<li>2 раза в год выполнять санитарную обрезку.</li>
				<li>Хорошо обрабатывать раны и срезы с помощью медного купороса.</li>
				<li>Сжигать листья осенью.</li>
				<li>Убирать и уничтожать зараженные плоды.</li>
				<li>Проводить опрыскивание плодовых деревьев весной.</li>
			</ol>
			<p>
				Также рекомендуется выполнять обработку химическими средствами. Лучше всего выбирать
				биологические препараты. Кроме этого, рекомендована профилактика бактериального ожога
				плодовых деревьев. В неё входит регулярная обработка сада инсектицидами, осмотр верхушек
				деревьев, листьев, применение стволовых инъекций.
			</p>
		</div>
	</SidebarContent>
	<SidebarContent>
		<div slot="sidebar">
			<h2 class="lg:text-2xl">Цены на лечение плодовых деревьев</h2>
			<p>
				Узнайте стоимость услуг по лечению растений: цена зависит от объема работ и состояния
				деревьев.
			</p>
		</div>
		<div class="basic-text">
			<div class="w-full overflow-x-auto">
				<table
					class="w-full border-separate rounded border border-slate-200 text-left"
					cellspacing="0"
				>
					<tbody>
						<tr>
							<th
								scope="col"
								class="h-12 border-l bg-slate-100 stroke-slate-700 px-6 text-sm font-medium text-slate-700 first:border-l-0"
								>Name</th
							>
							<th
								scope="col"
								class="h-12 border-l bg-slate-100 stroke-slate-700 px-6 text-sm font-medium text-slate-700 first:border-l-0"
								>Title</th
							>
							<th
								scope="col"
								class="h-12 border-l bg-slate-100 stroke-slate-700 px-6 text-sm font-medium text-slate-700 first:border-l-0"
								>Company</th
							>
							<th
								scope="col"
								class="h-12 border-l bg-slate-100 stroke-slate-700 px-6 text-sm font-medium text-slate-700 first:border-l-0"
								>Role</th
							>
							<th
								scope="col"
								class="h-12 border-l bg-slate-100 stroke-slate-700 px-6 text-sm font-medium text-slate-700 first:border-l-0"
								>Username</th
							>
						</tr>
						<tr class="transition-colors duration-300 hover:bg-slate-50">
							<td
								class="h-12 border-l border-t border-slate-200 stroke-slate-500 px-6 text-sm text-slate-500 transition duration-300 first:border-l-0"
								>Ayub Salas</td
							>
							<td
								class="h-12 border-l border-t border-slate-200 stroke-slate-500 px-6 text-sm text-slate-500 transition duration-300 first:border-l-0"
								>Designer</td
							>
							<td
								class="h-12 border-l border-t border-slate-200 stroke-slate-500 px-6 text-sm text-slate-500 transition duration-300 first:border-l-0"
								>Carroll Group</td
							>
							<td
								class="h-12 border-l border-t border-slate-200 stroke-slate-500 px-6 text-sm text-slate-500 transition duration-300 first:border-l-0"
								>Member</td
							>
							<td
								class="h-12 border-l border-t border-slate-200 stroke-slate-500 px-6 text-sm text-slate-500 transition duration-300 first:border-l-0"
								>salas_a</td
							>
						</tr>
						<tr class="transition-colors duration-300 hover:bg-slate-50">
							<td
								class="h-12 border-l border-t border-slate-200 stroke-slate-500 px-6 text-sm text-slate-500 transition duration-300 first:border-l-0"
								>Agnes Sherman</td
							>
							<td
								class="h-12 border-l border-t border-slate-200 stroke-slate-500 px-6 text-sm text-slate-500 transition duration-300 first:border-l-0"
								>Developer</td
							>
							<td
								class="h-12 border-l border-t border-slate-200 stroke-slate-500 px-6 text-sm text-slate-500 transition duration-300 first:border-l-0"
								>Apple</td
							>
							<td
								class="h-12 border-l border-t border-slate-200 stroke-slate-500 px-6 text-sm text-slate-500 transition duration-300 first:border-l-0"
								>Admin</td
							>
							<td
								class="h-12 border-l border-t border-slate-200 stroke-slate-500 px-6 text-sm text-slate-500 transition duration-300 first:border-l-0"
								>shermanagnes</td
							>
						</tr>
						<tr class="transition-colors duration-300 hover:bg-slate-50">
							<td
								class="h-12 border-l border-t border-slate-200 stroke-slate-500 px-6 text-sm text-slate-500 transition duration-300 first:border-l-0"
								>Jemma Cummings</td
							>
							<td
								class="h-12 border-l border-t border-slate-200 stroke-slate-500 px-6 text-sm text-slate-500 transition duration-300 first:border-l-0"
								>Senior Designer</td
							>
							<td
								class="h-12 border-l border-t border-slate-200 stroke-slate-500 px-6 text-sm text-slate-500 transition duration-300 first:border-l-0"
								>20goto10</td
							>
							<td
								class="h-12 border-l border-t border-slate-200 stroke-slate-500 px-6 text-sm text-slate-500 transition duration-300 first:border-l-0"
								>Member</td
							>
							<td
								class="h-12 border-l border-t border-slate-200 stroke-slate-500 px-6 text-sm text-slate-500 transition duration-300 first:border-l-0"
								>jemmaC</td
							>
						</tr>
						<tr class="transition-colors duration-300 hover:bg-slate-50">
							<td
								class="h-12 border-l border-t border-slate-200 stroke-slate-500 px-6 text-sm text-slate-500 transition duration-300 first:border-l-0"
								>Jimi Cardenas</td
							>
							<td
								class="h-12 border-l border-t border-slate-200 stroke-slate-500 px-6 text-sm text-slate-500 transition duration-300 first:border-l-0"
								>Copywriter</td
							>
							<td
								class="h-12 border-l border-t border-slate-200 stroke-slate-500 px-6 text-sm text-slate-500 transition duration-300 first:border-l-0"
								>Wind-UI</td
							>
							<td
								class="h-12 border-l border-t border-slate-200 stroke-slate-500 px-6 text-sm text-slate-500 transition duration-300 first:border-l-0"
								>Owner</td
							>
							<td
								class="h-12 border-l border-t border-slate-200 stroke-slate-500 px-6 text-sm text-slate-500 transition duration-300 first:border-l-0"
								>cardenasji</td
							>
						</tr>
						<tr class="transition-colors duration-300 hover:bg-slate-50">
							<td
								class="h-12 border-l border-t border-slate-200 stroke-slate-500 px-6 text-sm text-slate-500 transition duration-300 first:border-l-0"
								>Mateusz Tucker</td
							>
							<td
								class="h-12 border-l border-t border-slate-200 stroke-slate-500 px-6 text-sm text-slate-500 transition duration-300 first:border-l-0"
								>Project Manager</td
							>
							<td
								class="h-12 border-l border-t border-slate-200 stroke-slate-500 px-6 text-sm text-slate-500 transition duration-300 first:border-l-0"
								>Tailwindui</td
							>
							<td
								class="h-12 border-l border-t border-slate-200 stroke-slate-500 px-6 text-sm text-slate-500 transition duration-300 first:border-l-0"
								>Member</td
							>
							<td
								class="h-12 border-l border-t border-slate-200 stroke-slate-500 px-6 text-sm text-slate-500 transition duration-300 first:border-l-0"
								>mt</td
							>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</SidebarContent>
	<div class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14">
		<!-- Title -->
		<div class="mx-auto mb-8 max-w-2xl text-center lg:mb-14">
			<h2 class="text-pretty"><strong>Примеры</strong> выполненных работ</h2>
			<p class="pb-0 text-lg">Мы знаем и любим свое дело</p>
		</div>
		<!-- End Title -->

		<!-- Grid -->
		<div class="mx-auto grid max-w-3xl grid-cols-12 gap-6 lg:gap-8">
			{
				features.slice(0, 3).map((feature) => (
					<div class="col-span-6 text-center sm:col-span-4">
						<Feature title={feature.title} icon={feature.icon} align="center" classes="mb-12" />
					</div>
				))
			}
		</div>
		<!-- End Grid -->

		<!-- Grid -->
		<div class="mt-20 grid grid-cols-12 items-center gap-x-2 sm:gap-x-6 lg:gap-x-8">
			<div class="col-span-4 hidden md:col-span-3 md:block">
				<img
					class="rounded-xl"
					src="https://images.unsplash.com/photo-1606868306217-dbf5046868d2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=920&q=80"
					alt="Features Image"
				/>
			</div>
			<!-- End Col -->

			<div class="col-span-4 md:col-span-3">
				<img
					class="rounded-xl"
					src="https://images.unsplash.com/photo-1587613991119-fbbe8e90531d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=920&q=80"
					alt="Features Image"
				/>
			</div>
			<!-- End Col -->

			<div class="col-span-4 md:col-span-3">
				<img
					class="rounded-xl"
					src="https://images.unsplash.com/photo-1554295405-abb8fd54f153?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=920&q=80"
					alt="Features Image"
				/>
			</div>
			<!-- End Col -->

			<div class="col-span-4 md:col-span-3">
				<img
					class="rounded-xl"
					src="https://images.unsplash.com/photo-1640622300473-977435c38c04?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=920&q=80"
					alt="Features Image"
				/>
			</div>
			<!-- End Col -->
		</div>
		<!-- End Grid -->
	</div>
	<FAQ
		title="ЧаВо"
		text="Здесь мы собрали все популярные вопросу по теме лечения плодовых деревьев. Если у вас останутся вопросы, оставьте заявку на консультацию 👇."
		data={faqIntegrations}
	/>
	<CTA />
</Layout>
