---
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
import ChipNotification from '../../ui/ChipNotification.astro'
import AvatarGroup from '../../ui/AvatarGroup.astro'

import lugdoroga from '../../../assets/lugdoroga.webp'
import moskvasiti from '../../../assets/moskvasiti.webp'
import derevolev from '../../../assets/derevolev.webp'
import derevopr from '../../../assets/derevopr.webp'
import obrabotchiki from '../../../assets/holodnyj-tuman.webp'
import user1 from '../../../assets/avatars/antonina-petrovna.webp'
import user2 from '../../../assets/avatars/evgenij-aleksandrovskij.webp'
import user3 from '../../../assets/avatars/mihail-petrov.webp'
import user4 from '../../../assets/avatars/andrej.webp'
import HeroDynamicScroll from '../../HeroDynamicScroll'
import BgGradient from '../bg/BgGradient.astro'

const avatars = [
	{ image: { src: user1.src, alt: 'user name' } },
	{ image: { src: user2.src, alt: 'user name' } },
	{ image: { src: user3.src, alt: 'user name' } },
	{ image: { src: user4.src, alt: 'user name' } }
]
---

<Section id="intro" classes="bg-neutral-50 dark:bg-neutral-900 h-screen grid content-center">
	<BgGradient />
	<Row>
		<Col span="6" align="center">
			<!-- Component: Rounded full base sized grouped compact avatars -->
			<div class="flex w-full items-center justify-center p-10">
				<div class="flex -space-x-4 transition-all hover:-space-x-2">
					<a
						href="#"
						class="relative inline-flex h-10 w-10 items-center justify-center rounded-full text-white transition-all"
					>
						<img
							src="https://i.pravatar.cc/40?img=31"
							alt="user name"
							title="user name"
							width="40"
							height="40"
							class="max-w-full rounded-full border-2 border-white"
						/>
					</a>
					<a
						href="#"
						class="relative inline-flex h-10 w-10 items-center justify-center rounded-full border-2 border-white bg-emerald-500 text-white transition-all"
					>
						JL
					</a>
					<a
						href="#"
						class="relative inline-flex h-10 w-10 items-center justify-center rounded-full text-white transition-all"
					>
						<img
							src="https://i.pravatar.cc/40?img=33"
							alt="user name"
							title="user name"
							width="40"
							height="40"
							class="max-w-full rounded-full border-2 border-white"
						/>
					</a>
					<a
						href="#"
						class="relative inline-flex h-10 w-10 items-center justify-center rounded-full bg-emerald-500 text-lg text-white transition-all"
					>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							class="h-6 w-6"
							fill="none"
							viewBox="0 0 24 24"
							stroke="currentColor"
							stroke-width="1.5"
							aria-labelledby="title-02 desc-02"
							role="graphics-symbol"
						>
							<title id="title-02">User Icon</title>
							<desc id="desc-02">User icon associated with a particular user account</desc>
							<path
								stroke-linecap="round"
								stroke-linejoin="round"
								d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"></path>
						</svg>
					</a>
					<a
						href="#"
						class="relative inline-flex h-10 w-10 items-center justify-center rounded-full text-white transition-all"
					>
						<img
							src="https://i.pravatar.cc/40?img=34"
							alt="user name"
							title="user name"
							width="40"
							height="40"
							class="max-w-full rounded-full border-2 border-white"
						/>
					</a>
					<a
						href="#"
						class="relative inline-flex h-10 w-10 items-center justify-center rounded-full border-2 border-white bg-slate-200 text-sm text-slate-500 transition-all"
					>
						+4
					</a>
				</div>
			</div>
			<!-- End Rounded full base sized grouped compact avatars -->
			<ChipNotification radius="rounded-full" classes="mb-6">
				<strong>300+</strong> довольных клиентов
				<AvatarGroup avatars={avatars} radius="rounded-full" slot="button" />
			</ChipNotification>
			<h1><strong>Служба</strong> ухода за зелеными насаждениями</h1>
			<p class="pb-0 text-lg">Лечение деревьев, защита от вредителей, озеленение и уход</p>

			<!-- Open the modal using ID.showModal() method -->
			<button class="btn bg-primary-500 text-white" onclick="my_modal_2.showModal()"
				>Заказать консультацию</button
			>
			<dialog id="my_modal_2" class="modal">
				<div class="modal-box">
					<h3 class="text-lg font-bold">Mello!</h3>
					<div class="join">
						<input
							class="input join-item input-bordered input-accent w-44 border-primary-500"
							placeholder="Имя"
						/>
						<input
							class="input join-item input-bordered input-accent w-44 border-primary-500"
							placeholder="Телефон"
						/>
						<button
							class="btn join-item rounded-r-full border-primary-500 bg-primary-500 text-white"
							>Subscribe</button
						>
					</div>
				</div>
				<form method="dialog" class="modal-backdrop">
					<button>закрыть</button>
				</form>
			</dialog>
		</Col>
		<Col span="6">
			<HeroDynamicScroll
				lugdoroga={lugdoroga}
				moskvasiti={moskvasiti}
				derevolev={derevolev}
				derevopr={derevopr}
				obrabotchiki={obrabotchiki}
				client:load
			/>
		</Col>
	</Row>
</Section>

<script>
	// Функция дебаунсинга
	function debounce(this: any, func: (...args: any[]) => void, wait: number) {
		let timeout: NodeJS.Timeout | undefined
		return function (this: any, ...args: any[]) {
			clearTimeout(timeout)
			timeout = setTimeout(() => func.apply(this, args), wait)
		}
	}

	// Основная функция обработки прокрутки
	const handleScroll = debounce(function () {
		let scrollTop = window.scrollY || document.documentElement.scrollTop
		console.log('Прокрутка:', scrollTop)

		// Находим элемент изображения
		const heroImage = document.getElementById('hero-image')
		if (heroImage) {
			// Изменяем значение translateY пропорционально десятой части scrollTop
			heroImage.style.transform = `translateY(${scrollTop * 0.2}px)`
		}
	}, 50)

	// Функция, которая следит за видимостью элемента
	function handleIntersection(entries: IntersectionObserverEntry[]) {
		entries.forEach((entry) => {
			if (entry.isIntersecting) {
				// Если элемент виден, добавляем обработчик прокрутки
				window.addEventListener('scroll', handleScroll)
			} else {
				// Если элемент не виден, удаляем обработчик прокрутки
				window.removeEventListener('scroll', handleScroll)
			}
		})
	}

	// Создаем наблюдателя за видимостью элемента
	const observer = new IntersectionObserver(handleIntersection, {
		root: null, // отслеживаем относительно видимой области
		threshold: 0 // элемент считается видимым, если хотя бы частично попадает в зону видимости
	})

	// Находим элемент и начинаем за ним следить
	const target = document.getElementById('intro')
	if (target) {
		observer.observe(target)
	}
</script>
