---
import { Image } from 'astro:assets'
import FormOption from '../../ui/forms/form-option/FormOption.jsx'
import 'animate.css'
// import HeroDynamicScrollPage from '../../HeroDynamicScrollPage'

// Props
type Props = {
	id?: string
	heroImg: ImageMetadata
	title?: string
	text?: string
	classes?: string
}
const { id = 'intro', heroImg, title, text } = Astro.props
---

<section
	id={id}
	class=`group bg-neutral-50 dark:bg-neutral-900 flex 2xl:flex-row items-center overflow-hidden`
>
	<!-- <HeroDynamicScrollPage heroImg={heroImg} heroAlt={title} /> -->
	<div class="animate__animated animate__fadeInLeftBig basis-64 2xl:basis-1/4">
		<Image
			src={heroImg}
			alt=`${title}`
			width={370}
			class="top-0 -mb-5 -ml-10 transition delay-150 duration-700 ease-in-out group-hover:translate-x-10"
			transition:name={title}
		/>
	</div>
	<div class="absolute 2xl:relative 2xl:basis-2/4">
		<header class="page-header 2xl:py-26 py-12 text-center">
			<h1
				class="page-header__title bg-neutral-100/70 2xl:bg-neutral-100/10 dark:bg-slate-800/70 dark:2xl:bg-slate-950/10"
				set:html={title}
			/>
			<p
				class="page-header__text bg-neutral-100/70 text-slate-900 2xl:bg-neutral-100/10 2xl:bg-none dark:bg-slate-800/70 dark:text-slate-100 dark:2xl:bg-slate-950/10"
				set:html={text}
			/>
			<FormOption client:load />
		</header>
	</div>
</section>

<style>
	.page-header {
		@apply mx-auto max-w-3xl;
	}
	.page-header__text {
		@apply text-lg leading-relaxed;
	}
</style>
